<div class="col-sm-6 .col-md-2" id="frontpage" >

    <h1>Chatter</h1>
    <h6> What do you have to say? </h6>
    <%= form_tag auth_path, method: :post do %>
      <div>
        <%= label_tag :username %>
        <%= text_field_tag :username, "", class: "form-control" %>
        <br>
      </div>
      <div>
        <%= label_tag :password %>
        <%= password_field_tag :password, "", class: "form-control" %>
        <br>
      </div>
      <div>
        <%= submit_tag "Log In", class: "btn btn-primary btn-lg"%>
        <br>
        <br>
        <p>Still don't have an account? Whatcha waitin' for? <%=link_to 'Sign up now', signup_path %> </p>
  </div>
</div>
    <% end %>

<div class= "col-sm-5 .col-md-2">
  <% @tweets.each do |tweet| %>
        <div class="panel panel-default">
        <div class="panel-body">
          <strong><%= tweet.content %></strong>
          <br>
          <em> Posted by: <%= tweet.user.username %></em>
          <br>
          Posted: <%= distance_of_time_in_words_to_now tweet.created_at %>
          <br>
        </div>
        </div>
      <%end%>
  </div>
